<ion-header>
  <app-toolbar [titulo]="tituloToolbar"></app-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="form" (ngSubmit)="editarGuardar()">
      <ion-row>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
          <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-input formControlName="descripcion" type="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
          <ion-item>
            <ion-label position="floating">Costo base</ion-label>
            <ion-input formControlName="costo" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
          <ion-button type="submit" expand="block">Aceptar</ion-button>
        </ion-col>
        <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
          <ion-button (click)="irAtras()" expand="block" color="danger">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
