<ion-header>
  <app-toolbar [titulo]="tituloToolbar"></app-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="rolForm" (ngSubmit)="editarGuardar()">
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <ion-item>
          <ion-label position="floating">Codigo</ion-label>
          <ion-input formControlName="codigo" type="number"></ion-input>
          <ion-note slot="error">Codigo invalido</ion-note>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <ion-item>
          <ion-label position="floating">Descripcion</ion-label>
          <ion-input formControlName="descripcion" type="text"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
        <ion-item>
          <ion-checkbox formControlName="activo" slot="start"></ion-checkbox>
          <ion-label>Activo</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
        <ion-button type="submit" expand="block">Aceptar</ion-button>
      </ion-col>
      <ion-col size-xs="12" size-sm="4" size-md="4" size-lg="3">
        <ion-button (click)="cancelar()" expand="block" color="danger">Cancelar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
